apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ coinops_ingress_name }}-backend
  namespace: {{ coinops_ingress_backend_namespace }}
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: {{ coinops_ingress_backend_namespace }}-{{ coinops_ingress_proxy_strip_middleware_name }}@kubernetescrd,{{ coinops_ingress_backend_namespace }}-{{ coinops_ingress_history_strip_middleware_name }}@kubernetescrd
spec:
  ingressClassName: {{ coinops_ingress_class_name }}
  rules:
    - host: {{ coinops_ingress_domain }}
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: {{ coinops_ingress_proxy_service_name }}
                port:
                  number: {{ coinops_ingress_proxy_service_port }}
          - path: /history-api
            pathType: Prefix
            backend:
              service:
                name: {{ coinops_ingress_history_service_name }}
                port:
                  number: {{ coinops_ingress_history_service_port }}
