apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ coinops_ingress_name }}-frontend
  namespace: {{ coinops_ingress_frontend_namespace }}
  annotations:
    cert-manager.io/cluster-issuer: {{ coinops_ingress_cluster_issuer_name }}
spec:
  ingressClassName: {{ coinops_ingress_class_name }}
  tls:
    - hosts:
        - {{ coinops_ingress_domain }}
      secretName: {{ coinops_ingress_tls_secret_name }}
  rules:
    - host: {{ coinops_ingress_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ coinops_ingress_ui_service_name }}
                port:
                  number: {{ coinops_ingress_ui_service_port }}
