apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ coinops_ui_app_name }}
  namespace: {{ coinops_ui_namespace }}
  labels:
    app.kubernetes.io/name: {{ coinops_ui_app_name }}
spec:
  replicas: {{ coinops_ui_replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ coinops_ui_app_name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ coinops_ui_app_name }}
    spec:
      imagePullSecrets:
        - name: {{ coinops_ui_image_pull_secret_name }}
      containers:
        - name: ui
          image: {{ coinops_ui_image }}
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: {{ coinops_ui_container_port }}
          env:
            - name: PROXY_URL
              value: "{{ coinops_ui_proxy_url }}"
            - name: HISTORY_URL
              value: "{{ coinops_ui_history_url }}"
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 15
            periodSeconds: 20
