apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ headlamp_name }}
  namespace: {{ headlamp_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ headlamp_name }}
  template:
    metadata:
      labels:
        app: {{ headlamp_name }}
    spec:
      serviceAccountName: {{ headlamp_name }}
      automountServiceAccountToken: true
      containers:
        - name: {{ headlamp_name }}
          image: {{ headlamp_image }}
          imagePullPolicy: {{ headlamp_image_pull_policy }}
          command:
            - /headlamp/headlamp-server
          args:
            - -in-cluster
            - -plugins-dir=/headlamp/plugins
            - -watch-plugins-changes=false
            - -html-static-dir=/headlamp/frontend
          ports:
            - containerPort: {{ headlamp_container_port }}
              name: http
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 15
            periodSeconds: 20
