apiVersion: v1
kind: Service
metadata:
  name: {{ headlamp_name }}
  namespace: {{ headlamp_namespace }}
spec:
  type: NodePort
  selector:
    app: {{ headlamp_name }}
  ports:
    - name: http
      port: {{ headlamp_service_port }}
      targetPort: http
      nodePort: {{ headlamp_nodeport }}
