REDIS_HOST=192.168.56.14
REDIS_PORT=6379
REDIS_PASSWORD=coinops
PROXY_HOST=proxy
HISTORY_HOST=history
RABBITMQ_HOST=192.168.56.14
RABBITMQ_USER=currency_app_user
RABBITMQ_PASS=coinops
RABBITMQ_QUEUE=currency_rates
POSTGRES_HOST=192.168.56.14
POSTGRES_DB=currency_rates_tracker
POSTGRES_USER=currency_app_user
POSTGRES_PASS=password
POSTGRES_TABLE=currency_rates
SECRET_KEY=coinops
