.vagrant/
.vault_pass
.ssh/

__pycache__/
venv/
env/
*.env

*.exe
*.bin
/bin/

docs/task.md
review_artifacts/
infra/certs/*


# Terraform
.terraform/
*.tfstate
*.tfstate.*
# .terraform.tfstate
# .terraform.tfstate.backup
terraform/sa-key.json