[defaults]
inventory = ansible/inventory/
interpreter_python = auto_silent
host_key_checking = False
deprecation_warnings = False

[inventory]
enable_plugins = azure_rm, google.cloud.gcp_compute, auto, yaml, ini, script
