[defaults]
inventory = ./ansible/inventory
host_key_checking = False
# Suppress python discovery warnings that break JSON parsing on AWS (Amazon Linux 2)
interpreter_python = auto_silent
# Use the YAML callback plugin to make output more readable (Currently disabled due to Python 3.12 bug)
# stdout_callback = yaml

[inventory]
# Enable the specific cloud plugins we are using
enable_plugins = amazon.aws.aws_ec2, google.cloud.gcp_compute, auto, yaml, ini

[ssh_connection]
# Pipelining drastically increases speed and avoids SFTP subsystem issues over ProxyJump
pipelining = True
# Fallback to SCP if SFTP fails
scp_if_ssh = True
