# Frontend
PROXY_URL="your_proxy_service_ip_address"
PGHOST="your_database_host_ip_address"
PGUSER="your_database_user_name"
PGPASSWORD="your_database_user_password"
PGDATABASE="your_database_schema_name"

# Proxy
COINOPS_LISTEN=":8080" # proxy listening port, 8080 by default

# Worker
PROXY_URL="your_proxy_service_ip_address"
PGHOST="your_database_host_ip_address"
PGPORT="5432" # database listening port, 5432 by default
PGUSER="your_database_user_name"
PGPASSWORD="your_database_user_password"
PGDATABASE="your_database_schema_name"
COINOPS_POLL_SECONDS=300 # cache TTL