RUNTIME_BACKEND={{ runtime_backend }}
PGCLIENTENCODING=UTF8
DATABASE_URL={{ proxy_database_url }}
CORS_ALLOWED_ORIGINS={{ allowed_cors_origin }}
{% if runtime_backend == "cloud_native" %}
SESSION_BACKEND={{ session_backend }}
{% if session_backend == "managed_valkey" %}
REDIS_URL={{ redis_url }}
{% endif %}
QUEUE_BACKEND={{ "azure_servicebus" if queue_backend == "servicebus" else queue_backend }}
{% if queue_backend == "sqs" %}
SQS_QUEUE_URL={{ sqs_queue_url }}
AWS_REGION={{ aws_region }}
{% elif queue_backend == "pubsub" %}
GCP_PROJECT_ID={{ gcp_project_id }}
PUBSUB_TOPIC_ID={{ pubsub_topic_id }}
PUBSUB_SUBSCRIPTION_ID={{ pubsub_subscription_id }}
{% elif queue_backend in ["servicebus", "azure_servicebus"] %}
AZURE_SERVICEBUS_NAMESPACE={{ azure_servicebus_namespace }}
AZURE_SERVICEBUS_QUEUE_NAME={{ azure_servicebus_queue_name }}
{% endif %}
{% elif runtime_backend == "external" %}
RABBITMQ_URL={{ rabbitmq_url }}
REDIS_URL={{ redis_url }}
{% endif %}
