terraform {
  backend "s3" {
    bucket       = "devops-intern-penina-tf-state"
    key          = "coinops/aws/terraform.tfstate"
    region       = "eu-central-1"
    encrypt      = true
    use_lockfile = true
  }
}
