terraform {
  backend "azurerm" {
    resource_group_name  = "__AZURE_STATE_RESOURCE_GROUP__"
    storage_account_name = "__AZURE_STATE_STORAGE_ACCOUNT__"
    container_name       = "__AZURE_STATE_CONTAINER__"
    key                  = "__AZURE_STATE_KEY__"
    use_azuread_auth     = true
  }
}
