apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ homepage_app_name }}
  namespace: {{ homepage_namespace }}
  labels:
    app.kubernetes.io/name: {{ homepage_app_name }}
spec:
  replicas: {{ homepage_replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ homepage_app_name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ homepage_app_name }}
    spec:
      containers:
        - name: homepage
          image: {{ homepage_image }}
          env:
            - name: HOMEPAGE_ALLOWED_HOSTS
              value: {{ homepage_domain | quote }}
          ports:
            - name: http
              containerPort: {{ homepage_container_port }}
          volumeMounts:
            - name: homepage-config
              mountPath: /app/config/settings.yaml
              subPath: settings.yaml
              readOnly: true
            - name: homepage-config
              mountPath: /app/config/services.yaml
              subPath: services.yaml
              readOnly: true
            - name: homepage-config
              mountPath: /app/config/bookmarks.yaml
              subPath: bookmarks.yaml
              readOnly: true
            - name: homepage-config
              mountPath: /app/config/widgets.yaml
              subPath: widgets.yaml
              readOnly: true
            - name: homepage-config
              mountPath: /app/config/kubernetes.yaml
              subPath: kubernetes.yaml
              readOnly: true
            - name: homepage-config
              mountPath: /app/config/docker.yaml
              subPath: docker.yaml
              readOnly: true
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 3
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 20
      volumes:
        - name: homepage-config
          configMap:
            name: {{ homepage_app_name }}
