# Database (VM)
PGHOST=10.10.1.6
PGPORT=5432
PGUSER=coinops # database user
PGPASSWORD=1234 # database password
PGDATABASE=coinops_db

# RabbitMQ (Docker)
RABBITMQ_USER=coinops
RABBITMQ_PASSWORD=1234

# -- External APIs --
NBU_API_URL=https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json
COINGECKO_API_URL=https://api.coingecko.com/api/v3/simple/price?ids=%s&vs_currencies=usd
COINGECKO_IDS=bitcoin,ethereum,cardano,solana,ripple
