resource_group_name = "navigator"
location            = "westeurope"
prefix              = "monitorlab"
vm_name             = "monitor-vm"
admin_username      = "azureuser"
vm_size             = "Standard_B2s"
allowed_ssh_cidr    = "0.0.0.0/0"
ssh_public_key_path = "~/.ssh/id_rsa.pub"
alert_email         = "val.don.ua@gmail.com"
cpu_alert_threshold = 45
