[Unit]
Description=Proxy service
After=network.target
[Service]
Type=simple
User=vagrant
WorkingDirectory=/vagrant/proxy_service
ExecStart=/usr/bin/python3 /vagrant/proxy_service/proxy.py
Restart=always
RestartSec=5
Environment=RABBITMQ_HOST={{rabbitmq_host}}
Environment=RABBITMQ_USER={{rabbitmq_user}}
Environment=RABBITMQ_PASS={{rabbitmq_password}}
Environment=HISTORY_HOST={{history_host}}
Environment=RABBITMQ_QUEUE={{rabbitmq_queue}}

[Install]
WantedBy=multi-user.target