RUNTIME_BACKEND={{ proxy_runtime_backend }}
DATABASE_URL={{ proxy_database_url }}
{% if proxy_runtime_backend == "external" %}
RABBITMQ_URL={{ proxy_rabbitmq_url }}
REDIS_URL={{ proxy_redis_url }}
{% endif %}
PORT={{ proxy_port }}
