RUNTIME_BACKEND={{ runtime_backend }}
DATABASE_URL={{ proxy_database_url }}
{% if runtime_backend == "external" %}
RABBITMQ_URL={{ rabbitmq_url }}
REDIS_URL=redis://redis:6379/0
{% endif %}
PORT={{ proxy_port }}
