# Скопіюй у terraform.tfvars і заповни реальні значення
# НІКОЛИ не комітити terraform.tfvars у git!

libvirt_uri      = "qemu:///system"
storage_pool     = "default"
alpine_image_url = "/var/lib/libvirt/images/alpine-virt-3.19.1-x86_64.qcow2"

ssh_public_key = "ssh-ed25519 AAAA... your-email@example.com"
db_password    = "CHANGE_ME_TO_STRONG_PASSWORD"

deploy_git_repo = "https://github.com/ua-academy-projects/coin-ops"
deploy_branch   = "main"

# Адреса твого monerod (якщо на хост-машині — використай bridge IP)
monero_rpc_host = "xmr.support"
monero_rpc_port = 18081
