namespaces:
  create: false
  app: {{ k3s_coin_ops_namespaces.app | to_json }}
  workers: {{ k3s_coin_ops_namespaces.workers | to_json }}
  data: {{ k3s_coin_ops_namespaces.data | to_json }}

imagePullSecrets:
  - name: {{ k3s_coin_ops_pull_secret_name | to_json }}

config:
  name: {{ k3s_coin_ops_config_name | to_json }}

secret:
  create: false
  name: {{ k3s_coin_ops_secret_name | to_json }}

ingress:
  host: {{ k3s_coin_ops_ingress_host | to_json }}
{% if k3s_coin_ops_tls_enabled %}
  annotations:
    cert-manager.io/cluster-issuer: {{ k3s_coin_ops_cluster_issuer | to_json }}
  tls:
    - secretName: {{ k3s_coin_ops_tls_secret_name | to_json }}
      hosts:
        - {{ k3s_coin_ops_ingress_host | to_json }}
{% endif %}

proxy:
  image:
    tag: {{ k3s_coin_ops_image_tag | to_json }}

historyApi:
  image:
    tag: {{ k3s_coin_ops_image_tag | to_json }}

historyConsumer:
  image:
    tag: {{ k3s_coin_ops_image_tag | to_json }}

ui:
  image:
    tag: {{ k3s_coin_ops_image_tag | to_json }}
