[Unit]
Description=UI Service
After=network.target
[Service]
Type=simple
User=vagrant
WorkingDirectory=/vagrant/ui
ExecStart=/usr/bin/python3 /vagrant/ui/app.py
Restart=always
RestartSec=5
{# declare env var #}
Environment=REDIS_HOST={{redis_host}}     
Environment=REDIS_PORT={{redis_port}}
Environment=REDIS_PASSWORD={{redis_password}}
Environment=PROXY_HOST={{proxy_host}}
Environment=HISTORY_HOST={{history_host}}
Environment=SECRET_KEY={{ui_secret_key}}

[Install]
WantedBy=multi-user.target
