# /etc/monero/deploy.env
# Shared across all VMs for auto-deploy scripts

REPO_URL=https://github.com/ua-academy-projects/coin-ops.git
DEPLOY_BRANCH=monero-privacy-system

# VM1 only
REACT_APP_API_URL=http://BACKEND_VM2_IP:8000

# VM2 only
DB_HOST=DB_VM3_IP
DB_USER=monero
DB_PASSWORD=CHANGEME
DB_NAME=monero_privacy
