PGHOST={{ pg_host }}
PGPORT={{ pg_port }}
PGUSER={{ pg_user }}
PGPASSWORD={{ pg_password }}
PGDATABASE={{ pg_database }}
RABBITMQ_URL={{ rabbitmq_url }}
RABBITMQ_EXCHANGE={{ rabbitmq_exchange }}
RABBITMQ_QUEUE={{ rabbitmq_queue }}
RABBITMQ_ROUTING_KEY={{ rabbitmq_routing_key }}
MQ_CONSUMER_ENABLED={{ mq_consumer_enabled }}
HTTP_API_ENABLED={{ http_api_enabled }}
HISTORY_LISTEN={{ history_listen }}
HISTORY_PORT={{ history_port }}
