RUNTIME_BACKEND={{ runtime_backend }}
PGCLIENTENCODING=UTF8
DATABASE_URL={{ proxy_database_url }}
{% if runtime_backend == "cloud_native" %}
SESSION_BACKEND={{ session_backend }}
{% if session_backend == "managed_valkey" %}
REDIS_URL={{ redis_url }}
{% endif %}
QUEUE_BACKEND={{ queue_backend }}
{% if queue_backend == "sqs" %}
SQS_QUEUE_URL={{ sqs_queue_url }}
AWS_REGION={{ aws_region }}
{% elif queue_backend == "pubsub" %}
GCP_PROJECT_ID={{ gcp_project_id }}
PUBSUB_TOPIC_ID={{ pubsub_topic_id }}
PUBSUB_SUBSCRIPTION_ID={{ pubsub_subscription_id }}
{% endif %}
{% elif runtime_backend == "external" %}
RABBITMQ_URL={{ rabbitmq_url }}
REDIS_URL={{ redis_url }}
{% endif %}
