[Unit]
Description=Coin-Ops UI
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
WorkingDirectory=/home/{{ ansible_user }}/ui
ExecStart=/home/{{ ansible_user }}/ui/.venv/bin/python app.py
Environment=PORT=5000
Environment=API_PROXY_URL=http://192.168.56.11:8000
Environment=HISTORY_SERVICE_URL=http://192.168.56.14:8001
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
