[Unit]
Description="Proxy Service App"
After=multi-user.target
RequiresMountsFor=/home/vagrant/shared_folder/

[Service]
Type=simple
EnvironmentFile=/home/vagrant/shared_folder/proxy/proxy.env
ExecStart=/home/vagrant/shared_folder/proxy/proxy.bin
User=vagrant
WorkingDirectory=/home/vagrant/shared_folder/proxy
Restart=on-failure

[Install]
WantedBy=multi-user.target