[Unit]
Description="Frontend Flask App"
After=multi-user.target
RequiresMountsFor=/home/vagrant/shared_folder/

[Service]
Type=simple
EnvironmentFile=/home/vagrant/shared_folder/frontend/frontend.env
ExecStart=/home/vagrant/venv/bin/python /home/vagrant/shared_folder/frontend/app.py
User=vagrant
WorkingDirectory=/home/vagrant/shared_folder/frontend
Restart=on-failure

[Install]
WantedBy=multi-user.target