apiVersion: v1
kind: Service
metadata:
  name: {{ homepage_name }}
  namespace: {{ homepage_namespace }}
spec:
  selector:
    app: {{ homepage_name }}
  ports:
    - name: http
      port: {{ homepage_service_port }}
      targetPort: http
