POSTGRES_USER={{ db_user }}
POSTGRES_PASSWORD={{ db_password }}
POSTGRES_DB={{ db_name }}
POSTGRES_INITDB_ARGS=--encoding=UTF8 --locale=C.UTF-8
RABBITMQ_DEFAULT_USER={{ rabbitmq_user }}
RABBITMQ_DEFAULT_PASS={{ rabbitmq_password }}
