apiVersion: v1
kind: Service
metadata:
  name: coinops-history-api
  namespace: {{ coinops_namespace }}
spec:
  selector:
    app: coinops-history-api
  ports:
    - name: http
      port: {{ coinops_history_port }}
      targetPort: http
