apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: coinops-ui
  namespace: {{ coinops_namespace }}
{% if coinops_tls_enabled %}
  annotations:
    cert-manager.io/cluster-issuer: {{ coinops_tls_cluster_issuer }}
{% if coinops_https_redirect_enabled %}
    traefik.ingress.kubernetes.io/router.middlewares: {{ coinops_namespace }}-{{ coinops_https_redirect_middleware_name }}@kubernetescrd
{% endif %}
{% endif %}
spec:
  ingressClassName: {{ coinops_ingress_class_name }}
{% if coinops_tls_enabled %}
  tls:
    - hosts:
        - {{ coinops_host }}
      secretName: {{ coinops_tls_secret_name }}
{% endif %}
  rules:
    - host: {{ coinops_host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: coinops-ui
                port:
                  number: {{ coinops_ui_port }}
