{% if coinops_https_redirect_enabled %}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ coinops_https_redirect_middleware_name }}
  namespace: {{ coinops_namespace }}
spec:
  redirectScheme:
    scheme: https
    permanent: true
{% else %}
apiVersion: v1
kind: List
items: []
{% endif %}
