apiVersion: v1
kind: Service
metadata:
  name: coinops-postgres
  namespace: {{ coinops_namespace }}
spec:
  selector:
    app: coinops-postgres
  ports:
    - name: postgres
      port: {{ coinops_postgres_port }}
      targetPort: postgres
