apiVersion: v1
kind: Service
metadata:
  name: coinops-proxy
  namespace: {{ coinops_namespace }}
spec:
  selector:
    app: coinops-proxy
  ports:
    - name: http
      port: {{ coinops_proxy_port }}
      targetPort: http
