apiVersion: v1
kind: Service
metadata:
  name: coinops-rabbitmq
  namespace: {{ coinops_namespace }}
spec:
  selector:
    app: coinops-rabbitmq
  ports:
    - name: amqp
      port: {{ coinops_rabbitmq_port }}
      targetPort: amqp
