apiVersion: v1
kind: Secret
metadata:
  name: coinops-runtime-secret
  namespace: {{ coinops_namespace }}
type: Opaque
stringData:
  DB_PASSWORD: {{ coinops_db_password | quote }}
  DATABASE_URL: "postgresql://{{ coinops_db_user }}:{{ coinops_db_password }}@coinops-postgres:{{ coinops_postgres_port }}/{{ coinops_db_name }}"
  RABBITMQ_PASSWORD: {{ coinops_rabbitmq_password | quote }}
  RABBITMQ_URL: "amqp://{{ coinops_rabbitmq_user }}:{{ coinops_rabbitmq_password }}@coinops-rabbitmq:{{ coinops_rabbitmq_port }}/"
  REDIS_URL: "redis://coinops-redis:{{ coinops_redis_port }}/0"
