apiVersion: v1
kind: Service
metadata:
  name: {{ coinops_proxy_app_name }}
  namespace: {{ coinops_proxy_namespace }}
  labels:
    app.kubernetes.io/name: {{ coinops_proxy_app_name }}
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ coinops_proxy_app_name }}
  ports:
    - name: http
      port: {{ coinops_proxy_service_port }}
      targetPort: http
