RUNTIME_BACKEND={{ runtime_backend }}
DATABASE_URL={{ history_database_url }}
POSTGRES_USER={{ db_user }}
POSTGRES_PASSWORD={{ db_password }}
POSTGRES_DB={{ db_name }}
RUNTIME_APP_ROLE={{ db_user }}
{% if runtime_backend == "external" %}
RABBITMQ_URL=amqp://{{ rabbitmq_user }}:{{ rabbitmq_password }}@rabbitmq:5672/
RABBITMQ_DEFAULT_USER={{ rabbitmq_user }}
RABBITMQ_DEFAULT_PASS={{ rabbitmq_password }}
{% endif %}

PORT={{ history_port }}
