RUNTIME_BACKEND={{ history_runtime_backend }}
DATABASE_URL={{ history_database_url }}
POSTGRES_USER={{ history_db_user }}
POSTGRES_PASSWORD={{ history_db_password }}
POSTGRES_DB={{ history_db_name }}
RUNTIME_APP_ROLE={{ history_db_user }}
{% if history_runtime_backend == "external" %}
RABBITMQ_URL=amqp://{{ history_rabbitmq_user }}:{{ history_rabbitmq_password }}@rabbitmq:5672/
RABBITMQ_DEFAULT_USER={{ history_rabbitmq_user }}
RABBITMQ_DEFAULT_PASS={{ history_rabbitmq_password }}
{% endif %}

PORT={{ history_port }}
