[Unit]
Description=History service 
After=network.target 
[Service]
Type=simple
User=vagrant
WorkingDirectory=/vagrant/history_service
ExecStart=/vagrant/history_service/history-service
Restart=always
RestartSec=5
Environment=POSTGRES_HOST={{ postgres_host }}    
Environment=POSTGRES_DB={{postgres_db}}
Environment=POSTGRES_USER={{postgres_user}}
Environment=POSTGRES_PASS={{postgres_password}}
Environment=RABBITMQ_HOST={{ rabbitmq_host }}
Environment=RABBITMQ_USER={{rabbitmq_user}}
Environment=RABBITMQ_PASS={{rabbitmq_password}}
Environment=RABBITMQ_QUEUE={{rabbitmq_queue}}
Environment=POSTGRES_TABLE={{postgres_table}}

[Install]
WantedBy=multi-user.target