apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ coinops_history_consumer_app_name }}
  namespace: {{ coinops_history_namespace }}
  labels:
    app.kubernetes.io/name: {{ coinops_history_consumer_app_name }}
spec:
  replicas: {{ coinops_history_consumer_replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ coinops_history_consumer_app_name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ coinops_history_consumer_app_name }}
    spec:
      imagePullSecrets:
        - name: {{ coinops_history_image_pull_secret_name }}
      containers:
        - name: history-consumer
          image: {{ coinops_history_consumer_image }}
          imagePullPolicy: IfNotPresent
          env:
            - name: RUNTIME_BACKEND
              value: "{{ coinops_history_runtime_backend }}"
          envFrom:
            - secretRef:
                name: {{ coinops_history_backend_env_secret_name }}
