project_id          = "brave-framework-494704-e6"
region              = "europe-central2"
zone                = "europe-central2-a"
cluster_name        = "k3s-gcp"
network_name        = "k3s-gcp-vpc"
subnet_name         = "k3s-gcp-subnet"
subnet_cidr         = "10.52.0.0/24"
ssh_user            = "debian"
ssh_public_key_path = "~/.ssh/id_rsa.pub"

bastion_machine_type = "e2-micro"
node_machine_type    = "e2-medium"

image = "projects/debian-cloud/global/images/family/debian-12"

traefik_http_nodeport  = 31222
traefik_https_nodeport = 30191

bastion_private_ip = "10.52.0.5"

node_private_ips = {
  cp_1 = "10.52.0.10"
  cp_2 = "10.52.0.11"
  cp_3 = "10.52.0.12"
}
